[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

pytest = "*"
"flake8" = "*"
Django = ">=2.2"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
geography = {path = "./..", editable = true}
stringcase = "*"
DictObject = "*"
Shapely = "*"
civic_utils = {editable = true,path = "./../../utils"}


[dev-packages]
ipython = "*"
Sphinx = "*"
sphinxcontrib-django = "*"
sphinx_rtd_theme = "*"
