[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[packages]
Django = ">=2.2"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2-binary" = "*"
stringcase = "*"
DictObject = "*"
Shapely = "*"
"politico-civic-utils" = "~=1.0a1.dev10"
geography = {path = "./..", editable = true}

[dev-packages]
ipython = "*"
pytest = "*"
"flake8" = "*"
Sphinx = "*"
sphinxcontrib-django = "*"
sphinx_rtd_theme = "*"
