[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[requires]

python_version = "3.6"


[packages]

pytest = "*"
"flake8" = "*"
Django = ">=2.0"
djangorestframework = "*"
dj-database-url = "*"
"psycopg2" = "*"
geography = {path = "./..", editable = true}
politico-civic-utils = "*"
ipython = "*"
stringcase = "*"
DictObject = "*"
Shapely = "*"
yapf = "*"
Sphinx = "*"
sphinxcontrib-django = "*"
sphinx_rtd_theme = "*"


[dev-packages]
