alabaster==0.7.11
appnope==0.1.0
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.6.0
backcall==0.1.0
boto3==1.7.73
botocore==1.10.73
census==0.8.7
certifi==2018.4.16
chardet==3.0.4
decorator==4.3.0
DictObject==1.0.5
dj-database-url==0.5.0
Django==2.0
django-storages==1.6.5
django-uuslug==1.1.8
djangorestframework==3.8.2
docutils==0.14
flake8==3.5.0
future==0.16.0
geojson==2.4.0
idna==2.7
imagesize==1.0.0
ipython==6.5.0
ipython-genutils==0.2.0
jedi==0.12.1
jellyfish==0.5.6
Jinja2==2.10
jmespath==0.9.3
luckydonald-utils==0.58
MarkupSafe==1.0
mccabe==0.6.1
more-itertools==4.3.0
packaging==17.1
parso==0.3.1
pexpect==4.6.0
pickleshare==0.7.4
pluggy==0.7.1
-e git+git@github.com:The-Politico/politico-civic-geography.git@68e0af5b4ac76e34b0fd0e124e28364ec223fa9c#egg=politico_civic_geography
prompt-toolkit==1.0.15
psycopg2==2.7.5
ptyprocess==0.6.0
py==1.5.4
pycodestyle==2.3.1
pyflakes==1.6.0
Pygments==2.2.0
pyparsing==2.2.0
pyshp==1.2.12
pytest==3.7.1
python-dateutil==2.7.3
python-slugify==1.2.5
pytz==2018.5
requests==2.19.1
s3transfer==0.1.13
Shapely==1.6.4.post2
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
Sphinx==1.7.6
sphinx-rtd-theme==0.4.1
sphinxcontrib-django==0.4
sphinxcontrib-websupport==1.1.0
stringcase==1.2.0
tqdm==4.24.0
traitlets==4.3.2
Unidecode==1.0.22
urllib3==1.23
us==1.0.0
wcwidth==0.1.7
yapf==0.22.0
